<p><%= @video['title'] %></p>
<p><%= @video['description'] %></p>

<p> 

<iframe src="https://player.vimeo.com/video/<%= @video['url'] %>" width="1000" height="562" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 

</p>

<p><%= @video['genre'] %></p>

<a href="/videos/<%= @video['id'] %>/edit">Edit</a>

<form action="/videos/<%= @video['id'] %>/delete" method="POST">
	<button name="_method" value="delete">Delete</button>
</form>